
oueve-assistant{
    background: url(background.jpg);
}
body {
    background: #343332;
    color: #74B8FF;
}

h2 {
    text-align: center;
    color: #FFFBF8;
    font-size: 300%;
}

.text-container {
    width: 60%;
}

sub {
    font-size: 60%;
}

::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}
::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}

button.submit-button {
    padding: 3px; 
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 200px;
    overflow-x: auto;
    border-radius: 15px;
    align-content: center;
    background-color: transparent;
}